/* 전체 초기화 */
* {margin: 0; padding: 0; box-sizing: border-box;}
/* 외부 여백 0, 내부 여백 0, 박스의 크기는 테두리를 기준으로 한다.*/

a {text-decoration: none; color: black;}
/* a 태그로 된 것들은 기본적으로 텍스트 꾸밈 없음, 글꼴 색 white 색상으로 지정 */
ul {list-style-type: none;}
/* ul(리스트) 태그로 된 것들은 리스트여도 앞에 기호 없앰 */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid black;
    z-index: 100;
}
/* header안에 들어있는 것들은 가로 크기는 항상 윈도우 창 크기에 100%로 맞추고, 박스 테두리를 준다. */


/* util */
.util {
    background-color: rgb(30, 125, 150);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    padding: 10px;
}

.util .util-menu {
    display: flex;
    column-gap: 10px;
    margin: 0;
}

.util .util-menu li {
    color: white;
    display: inline-block;
    margin: 0 10px;
}

.util .util-menu li a{
    color: white;
}

.util .util-menu::after {
    display: block;
    content: '';
    clear: both;
}

/* menu */
.menu {
    display: flex;
    justify-content: space-between; /* 아이콘들과 메뉴바를 수평 선상에서 between으로 배치 */
    height: 60px;
    align-items: center; /* 수직 선상에서 center로 배치 */
    background-color: white;
}

/* 메뉴 바 안의 사람 아이콘과 메뉴 바 아이콘 */
.menu .menu-left a,
.menu .menu-right a {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    font-size: 30px;
    color: white;
}

.menu .menu-left a:hover {background-color: rgb(255, 112, 136);}
.menu .menu-right a:hover {background-color: rgb(255, 112, 136);}

.menu .menu-center nav ul {
    display: flex;
    align-items: center;
}

.menu .menu-center nav ul li {
    height: 60px;
    line-height: 60px;
}

.menu .menu-center nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 32px;
    font-weight: bold;
}

.menu .menu-center nav ul li a:hover {
    background-color: rgb(255, 112, 136);
    color: white;
}

/* ///////////////////////////////////////////////////////////////////////////// */

/* --------------------- section1 ---------------------*/

.section1 {
    margin-top: 150px;
}

/* --------------------- section2 ---------------------*/
.latestimg-container {
    margin:0 auto;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 400px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.latestimg-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.latestimg-container .img {
    width: calc(100%/3 - 30px);
    height: calc(100% - 30px);
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 5px grey;
}

.latestimg-container div h4 {
    margin-top: 15px;
}

.latestimg-container div p {
    margin-left: 15px;
    text-align: left;
}

.latestimg-container div a {
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
}

.latestimg-container .datezz {
    margin-top: 15px;
    margin-left: 15px;
    float: left;
    color: rgb(207, 207, 207);
}

.latestimg-container div img {
    width: 100%;
    height: 200px;
}

/* section3 */
.section3 {
    width: 100%;
}

.section3 .section3-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
    height: 400px;
    /* border: 1px solid black; */
    background-color:  rgb(245, 245, 245);
}

.section3 .section3-img .img-box {
    width: calc(100%/2 - 50px);
    height: 300px;
    /*border: 1px solid black;*/
}

.section3 .section3-img .img-box img {
    width: 100%;
    height: 100%;
}

.section3 .section3-img .text-box {
    position: relative;
    text-align: center;
    width: calc(100%/2 - 50px);
    height: 300px;
    /* border: 1px solid black; */
}

.section3 .section3-img .text-box h2 {
    position: relative;
    top: 50px;
}

.section3 .section3-img .text-box p {
    position: relative;
    top: 100px;
}

.section3 .section3-img .text-box button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.section3 .section3-img .text-box button:hover {
    filter: brightness(90%);
    box-shadow: 2px 2px 2px rgb(255, 255, 255);
}

/* section4 */
.section4 {
    width: 100%;
}

.section4 .section4-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    width: 900px;
    height: 400px;
    /* border: 1px solid red; */
    background-color:  rgb(245, 245, 245);
}

.section4 .section4-img .img-box2 {
    width: calc(100%/2 - 50px);
    height: 300px;
    /* border: 1px solid rgb(255, 0, 179); */
}

.section4 .section4-img .img-box2 img {
    width: 100%;
    height: 100%;
}

.section4 .section4-img .text-box2 {
    position: relative;
    text-align: center;
    width: calc(100%/2 - 50px);
    height: 300px;
    /* border: 1px solid rgb(0, 255, 42); */
}

.section4 .section4-img .text-box2 h2 {
    position: relative;
    top: 50px;
}

.section4 .section4-img .text-box2 p {
    position: relative;
    top: 100px;
}

.section4 .section4-img .text-box2 button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(207, 207, 207);
    border: none;
    border-radius: 30px;
    cursor: pointer;
}


/* ///////////////////////////////////////////////////////////////////////////// */
footer {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    text-align: center;
    font-size: 12px;
    color: white;
    background-color: rgb(0, 0, 0);
}

footer table {
    margin: 0 auto;
    width: 1000px;
    border-spacing: 30px;
}

footer select {
    right: 30px;
    width: 100px;
    height: 20px;
}

footer .copyright {
    position: relative;
    bottom: -20px;
}

footer a {
    color: white;
}
